body {
    background: url(Obrazy/tlo.jpg) no-repeat center center fixed; 
}

#title {
    text-align: center;
    font-family: Garamond, serif;
    line-height: 1em;
    color: white;
    font-weight:bold;
    font-size: 50px;
    text-shadow:0px 0px 0 rgb(210,210,210),1px 1px 0 rgb(175,175,175),2px 2px 0 rgb(140,140,140),3px 3px 0 rgb(105,105,105),4px 4px 0 rgb(70,70,70),5px 5px 0 rgb(35,35,35),6px 6px 0 rgb(0,0,0), 7px 7px 0 rgb(-35,-35,-35),8px 8px 7px rgba(0,0,0,0.5),8px 8px 1px rgba(0,0,0,0.5),0px 0px 7px rgba(0,0,0,.2);
    margin-bottom: 8%;
}

/*a:link {
color: green;
}

a:active {
color: red;
}

a:hover {
color: orange;
font-style: italic;
}*/

a {
text-decoration:none;
}


table { 

border: 0px solid black; 
margin: auto;
border-spacing: 0px 20px;
width: 90%;
text-align: center; 

}


td { 
     border: 4px solid black;
     background-color: white;
     padding: 20px 20px 20px 20px;
     font-size: 150%;
     box-shadow: 10px 10px 5px #888;
     
}

tr {
    
    border-radius: 220px;
    height: 50px;
    
}
.td1 {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-right-style: hidden;
    
	
	
}

.td6 {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left-style: hidden;
}

.td2, .td3, .td4, .td5 {
    border-left-style: hidden;
    border-right-style: hidden;
}

.tytul {
    color: white;
}

.td6 {
    opacity: 0.6;
    width: 20%;
}

.glowne {
    font-size: 230%;
    font-family: Bookman Old Style;
    text-shadow:0px 0px 0 rgb(210,210,210),1px 1px 0 rgb(175,175,175),2px 2px 0 rgb(140,140,140),3px 3px 0 rgb(105,105,105),4px 4px 0 rgb(70,70,70),5px 5px 0 rgb(35,35,35),6px 6px 0 rgb(0,0,0), 7px 7px 0 rgb(-35,-35,-35),8px 8px 7px rgba(0,0,0,0.5),8px 8px 1px rgba(0,0,0,0.5),0px 0px 7px rgba(0,0,0,.2);
    color: #6292A1;
}

#przycisk {
    width: 20%;
    text-align: center;
    margin-left: 5%;
    border: 0px solid black;
    
}

#szukajka {
    float: right;
    margin-right: 5%;
    border: 1px solid double;
    margin-top: -70px;
    font-size: 25px;
}

.button {
    font-family: Arial;
    font-size: 21px;
    display: block;
    height: 30px;
    width: 180px;
    background: #0bdf00;
    border: 2px solid rgba(33, 68, 72, 0.59);
    color: rgba(0, 0, 0, 0.55);
    background: -webkit-linear-gradient(top, #0bdf00, #11610d);
    background: -moz-linear-gradient(top, #0bdf00, #11610d);
    background: -o-linear-gradient(top, #0bdf00, #11610d);
    background: -ms-linear-gradient(top, #0bdf00, #11610d);
    background: linear-gradient(top, #0bdf00, #11610d);
    border-radius: 50px;
    box-shadow: 0 8px 0 #063c03;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
}

.szukajniki {
    font-family: 'Bookman Old Style', serif;
    line-height: 1em;
    color: #8e8ba3;
    font-weight:bold;
    font-size: 28px;
    text-shadow:0px 0px 0 rgb(110,107,131),1px 1px 0 rgb(89,86,110),2px 2px 0 rgb(67,64,88),3px 3px 0 rgb(45,42,66),4px 4px 0 rgb(24,21,45),5px 5px 0 rgb(2,-1,23), 6px 6px 0 rgb(-20,-23,1),7px 7px 6px rgba(0,0,0,0.6),7px 7px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2);
}

.tabelka {
    margin-top: 4%;    
}

.fieldset1 {
    background-color: white;
    border-radius: 50px;
    width: 50%;
    margin: auto;
    opacity: 0.8;
background: #6E008D;
background: linear-gradient(45deg, #6E008D, black);
min-height: 100%;
border: 1px solid black;
}

#tytuldodaj {
    text-align: center;
    font-family: Felix Titling;
font-family: Garamond, serif;
line-height: 1em;
color: #b3afb3;
font-weight:bold;
font-size: 49px;
text-shadow:0px 0px 0 rgb(144,140,144),1px 1px 0 rgb(118,114,118),2px 2px 0 rgb(93,89,93),3px 3px 0 rgb(68,64,68),4px 4px 0 rgb(43,39,43),5px 5px 0 rgb(17,13,17),6px 6px 0 rgb(-8,-12,-8),7px 7px 0 rgb(-33,-37,-33),8px 8px 0 rgb(-59,-63,-59),9px 9px 0 rgb(-84,-88,-84), 10px 10px 0 rgb(-109,-113,-109),11px 11px 10px rgba(0,0,0,0),11px 11px 1px rgba(0,0,0,0.5),0px 0px 10px rgba(0,0,0,.2);

}

.wrocdoindex {
    width: 12%;
    float: left;
    margin-left: 28%;
    font-size: 20px;
    margin-top: 10px;
    background: #6E008D;
    background: linear-gradient(45deg, white, grey);
    min-height: 100%;
    text-align: center;
    border-radius: 10px;
    
}



.editor-label {
font-family: 'Helvetica Neue',Helvetica, sans-serif;
line-height: 1em;
color: #10a857;
font-weight:bold;
font-size: 38px;
text-shadow:0px 0px 0 rgb(-290,-138,-219),1px 1px 0 rgb(-341,-189,-270),2px 2px 0 rgb(-392,-240,-321),3px 3px 0 rgb(-443,-291,-372),4px 4px 0 rgb(-494,-342,-423), 5px 5px 0 rgb(-545,-393,-474),6px 6px 5px rgba(0,0,0,0),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2);
margin-left: 220px;
} 
    
.wartosc {
    border: 0px solid black;
    width: 41%;
    margin-left: 50%;
    margin-top: -25px;
    color: red;
}

#dodaj {
   width: 8%;
   margin: auto;
}

/*Detale*/

.fieldset2 {
    
    border-radius: 50px;
    width: 50%;
    margin: auto;
    opacity: 0.8;
    border: 1px solid black;
    background: #f06;
    background: linear-gradient(1deg, white, #767781);
    min-height: 100%;
    height: 400px;
}

.fieldsettytul {
    
    border-radius: 50px;
    width: 50%;
    margin: auto;
    opacity: 0.8;
    border: 1px solid black;
    background: #f06;
    background: linear-gradient(1deg, white, #767781);
    min-height: 100%;
    text-align: center;
    font-size: 40px;
    font-family: Gungsuh;

}

.wartosc2 {
    font-size: 20px;
    font-weight:bold;
    border: 0px solid black;
    width:  30%;
    margin-left: 32%;

    
}

.wartoscopis {
    
    border: 0px solid black;
    width: 30%;
    margin: auto;
    font-size: 21px;
    font-family: Arial;
}

.zrodloopis {
    border: 0px solid black;
    width: 60%;
    margin-left: 35%;
    
    
}

.przyciskedytuj {
    width: 5%;
    float: right;
    margin-right: 28%;
    font-size: 19px;
    margin-top: 10px;
    background: #6E008D;
    background: linear-gradient(45deg, white, grey);
    min-height: 100%;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}

.td1:hover {
    opacity: 0.9001111;
    font-size: 21px;
       
}

/*Edycja*/

.wartosc3 {
    border: 0px solid black;
    width: 41%;
    margin-left: 55%;
    margin-top: -25px;
    color: red;
}

.zapiszzmiany {
    margin: auto;
    width: 13%;
    border: 0px solid black;
}

#edycja {
    text-align: center;
    font-family: 'Times New Roman', Times, sans-serif;
line-height: 1em;
color: #636bff;
font-weight:bold;
font-size: 40px;
text-shadow:0px 0px 0 rgb(-220,-212,-64),1px 1px 0 rgb(-283,-275,-127),2px 2px 0 rgb(-347,-339,-191),3px 3px 0 rgb(-411,-403,-255), 4px 4px 0 rgb(-475,-467,-319),5px 5px 4px rgba(0,0,0,1),5px 5px 1px rgba(0,0,0,0.5),0px 0px 4px rgba(0,0,0,.2);
}

.walidacja {
    color: red;
    font-size: 16px;
    text-shadow:0px 0px 0 rgb(-177,-169,-21),1px 1px 0 rgb(-305,-297,-149), 2px 2px 0 rgb(-432,-424,-276),3px 3px 2px rgba(0,0,0,1),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);
}

/*Usuwanie*/
.fieldset3 {
    
    border-radius: 50px;
    width: 50%;
    margin: auto;
    opacity: 0.8;
    border: 1px solid black;
    background: linear-gradient(75deg, #416AA6, #7B878E);
    min-height: 100%;   
}

.zapytanieusun {
    color: red;
    text-align: center;
    font-size: 30px;
    text-shadow:0px 0px 0 rgb(16,-239,-239),1px 1px 0 rgb(-58,-313,-313),2px 2px 0 rgb(-132,-387,-387), 3px 3px 0 rgb(-206,-461,-461),4px 4px 3px rgba(0,0,0,0),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}

#przyciskusun {
    margin: auto;
    border: 0px solid black;
    width: 7%;
}

.wartosc4 {
    border: 0px solid black;
    width: 50%;
    margin: auto;
    font-family: Cooper Black;
    text-align: center;
    color: orange;
    font-size: 30px;
    text-shadow:0px 0px 0 rgb(134,28,28),1px 1px 0 rgb(107,1,1),2px 2px 0 rgb(81,-25,-25),3px 3px 0 rgb(54,-52,-52),4px 4px 0 rgb(27,-79,-79), 5px 5px 0 rgb(0,-106,-106),6px 6px 5px rgba(0,0,0,0.35),6px 6px 1px rgba(0,0,0,0.5),0px 0px 5px rgba(0,0,0,.2);
}

.czern {
    color: #000000;
}

.zapraszam {
    text-align: center;
    font-size: 70px;
    text-shadow:0px 0px 0 rgb(21,160,137),1px 1px 0 rgb(2,141,118),2px 2px 0 rgb(-18,121,98),3px 3px 0 rgb(-37,102,79),4px 4px 0 rgb(-57,82,59),5px 5px 0 rgb(-76,63,40),6px 6px 0 rgb(-96,43,20),7px 7px 0 rgb(-116,23,0),8px 8px 0 rgb(-135,4,-19),9px 9px 0 rgb(-155,-16,-39),10px 10px 0 rgb(-174,-35,-58),11px 11px 0 rgb(-194,-55,-78), 12px 12px 0 rgb(-214,-75,-98),13px 13px 12px rgba(0,0,0,0),13px 13px 1px rgba(0,0,0,0.5),0px 0px 12px rgba(0,0,0,.2);
    color: #65f0d9;
}



img {
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 5%;
    width: 200px;
    float:left;
    
}

.asd {
border: 1px solid black;
float: right;
}